<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "Записная книжка" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="box">
        <h1>Электронная записная книжка</h1>
        <a href="{{ url_for('index') }}">Главная</a>
        |
        <a href="{{ url_for('add_contact') }}">Добавить контакт</a>
    </div>

    {% block content %}{% endblock %}
</body>
</html>
